<section class="two-images">
  <h1>about me</h1>
  <div class="content">
    <div class="images">
      <img
        src="/images/Sunset-water.png"
        alt="Grace Hopper casually smoking a cigarette"
        width="200"
        height="300"
      />
      <img
        src="/images/Sunset-field.png"
        alt="painting of Ada Lovelace"
        width="200"
        height="300"
      />
    </div>
    <div class="text">
      <p>
        Hi! I'm Zainab, a 21-year-old student from Amsterdam. I'm currently in
        my final year of the Frontend Design & Development program at the
        Hogeschool van Amsterdam (HvA). After graduating later this year, I plan
        to continue expanding my skills in design by studying Communication and
        Multimedia Design.
      </p>
    </div>
  </div>
</section>

<style lang="scss">
  section {
    background-color: var(--main-color-2);
    height: 100vh;
  }

  h1 {
    color: var(--main-color-1);
    padding-top: 0.3em;
    font-size: clamp(2rem, 7vw + 2rem, 10rem);
    text-align: center;
  }
  p {
    color: var(--main-color-1);
    font-family: var(--regular-font);
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .text {
    padding-top: 2em;
    max-width: 30rem;
  }

  img {
    @media (prefers-reduced-motion: no-preference) {
      view-timeline-name: --revealing-image;
      view-timeline-axis: block;
      animation: reveal linear both;
      animation-timeline: --revealing-image;
      animation-range: entry 25% cover 50%;
    }
  }

  @keyframes reveal {
    from {
      opacity: 0;
      clip-path: inset(45% 20% 45% 20%);
    }
    to {
      opacity: 1;
      clip-path: inset(0% 0% 0% 0%);
    }
  }
</style>
