@font-face {
  font-family: "Atop";
  src: url("/fonts/Atop-R99O3.ttf");
}

@font-face {
  font-family: "Anonymous Pro";
  src: url("/fonts/AnonymousPro-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color-1: #ffeaee;
  --main-color-2: #330502;
  --accent-color-2: #cbabb2;
  --statement-font: "Atop", sans-serif;
  --regular-font: "Anonymous Pro", sans-serif;
}

body {
  background: var(--main-color-1);
}

h1 {
  font-family: var(--statement-font);
  color: var(--main-color-2);
}

p {
  font-family: var(--statement-font);
  color: var(--main-color-2);
}

li {
  font-family: var(--statement-font);
  color: var(--main-color-2);
  font-size: 28px;
}

.astro-dev-toolbar {
  display: none !important;
}
