---
import BaseLayout from "../layouts/BaseLayout.astro";
import Flower from "../components/Flower.astro";
import Sparkle from "../components/Sparkle.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
---

<BaseLayout>
  <nav>
    <ul>
      <li>About</li>
      <li>Contact</li>
    </ul>
    <select>
      <option value="first">🇬🇧 English</option>
      <option value="second">🇳🇱 Nederlands</option>
    </select>
  </nav>

  <section>
    <Flower />
    <Sparkle />
    <p>Zainab el Faiz</p>
    <Sparkle />
    <h1>Frontend Developer</h1>
    <h2 class="typewriter">(and designer)</h2>
    <Sparkle />
    <Flower />
  </section>

  <About />
  <Projects />
</BaseLayout>

<style>
  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    view-timeline-name: --page-scroll;
    view-timeline-axis: block;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media (min-width: 50rem) {
      justify-content: space-between;
      flex-wrap: unset;
    }
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 0 auto;
    list-style: none;
  }

  li {
    padding: 0.5em 0 0 1em;
  }

  select {
    appearance: none;

    @supports (appearance: base-select) {
      &,
      &::picker(select) {
        appearance: base-select;
      }
    }
  }

  select {
    min-width: 200px;
    align-items: center;
    color: var(--main-color-2);
    margin: 1em 1em 0 0;
    padding-block: 12px;
    border-radius: 5px;
    border: 2px solid var(--main-color-2);
    cursor: pointer;
    font-weight: 700;
    background: transparent;

    @supports (appearance: base-select) {
      padding-inline: 10px;

      &::picker-icon {
        content: "";
        width: 0.5em;
        height: 0.5em;
        background-color: currentcolor;
        clip-path: polygon(0 0.1em, 100% 0.1em, 50% 100%, 0 0.1em);
        transition: 0.3s;
      }

      &:open::picker-icon {
        rotate: x 180deg;
      }

      &::picker(select) {
        padding: 0;
        margin-top: 5px;
        border: 2px solid var(--main-color-2);
        background: var(--main-color-1);
        border-radius: 5px;
        font-weight: 400;

        opacity: 0;
        height: 0;
        overflow: clip;
        transition:
          height 0.5s ease-out,
          opacity 0.5s ease-out,
          overlay 0.5s,
          display 0.5s;
        transition-behavior: allow-discrete;
      }

      &:open::picker(select) {
        opacity: 1;
        height: calc-size(auto, size);
        overflow: auto;
        @starting-style {
          opacity: 0;
          height: 0;
        }
      }

      option {
        padding: 10px;
        border-top: 1px solid var(--main-color-2);
        cursor: pointer;
        transition-property: color, background;
        transition-duration: 0.2s;
        transition-timing-function: ease-out;

        &:where(:hover, :focus, :active) {
          background: var(--accent-color-2);
          color: white;
        }

        &:checked {
          background: var(--main-color-2);
          color: white;
        }

        &::checkmark {
          display: none;
        }

        &:first-child {
          border: 0;
        }
      }
    }
  }

  h1 {
    animation-name: wiggle;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    animation-timeline: --wiggle-scroll;
    animation-range: cover 0% cover 100%;

    transform-origin: center;
    font-size: clamp(2rem, 7vw + 2rem, 10rem);
    text-align: center;
  }

  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 7em;
    }
  }

  .typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid currentColor;
    width: 0;
    animation: typewriter 2s steps(20) forwards;
    animation-delay: 1s;
  }

  @media (prefers-reduced-motion: reduce) {
    .typewriter {
      animation: none;
      width: 100%;
      border-right: none;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .typewriter {
      animation: none;
      width: 100%;
      opacity: 1;
      border-right: none;
    }
  }

  p {
    font-size: clamp(1rem, 2vw + 1.5rem, 1.7rem);
  }
</style>
